{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>Add Directory Number</h2>

    <form method="POST">

        <div class="mb-3">
            <label>Name</label>

            <input
                type="text"
                name="name"
                value="{{ number.name}}"
                class="form-control"
                required
            >
        </div>

        <div class="mb-3">
            <label>Phone Number</label>

            <input
                type="text"
                name="phone_number"
                value="{{ number.phone_number }}"
                class="form-control"
                required
            >
        </div>

        <div class="mb-3">
            <label>Organisation</label>

            <select name="organization_id" class="form-control">
                <option value="">-- Select Organisation --</option>
                {% for org in organizations %}
                <option value="{{ org.id }}" {{ 'selected' if number.organization_id == org.id }}>{{ org.organization_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Category</label>

            <input
                type="text"
                name="category"
                value="{{ number.category }}"
                class="form-control"
                required
            >
        </div>

        <button
            class="btn btn-primary"
        >
            Save
        </button>

    </form>

</div>

{% endblock %}